body {
    margin: 0;
    font-family: 'Muli';
    color: #333;
    background-image: url(Images/yellow-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 30px; 
    padding-top: 150px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 30px solid red;
    background-image: url(Images/yellow-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: padding 0.3s ease;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
}

.logo-container img {
    height: 70px;
    width: auto;
    transition: height 0.3s ease;
}

header h1 {
    color: #DD0303;
    font-size: 24px;
    margin: 0;
    transition: font-size 0.3s ease;
    padding-right: 30px;
}

header.shrink {
    padding: 10px;
}

header.shrink .logo-container img {
    height: 45px;
}

header.shrink h1 {
    font-size: 18px;
}

nav a {
    color: grey;
    text-decoration: none;
    font-weight: 600;
    margin-left: 24px;
    transition: color 0.3s ease, font-size 0.3s ease;
    padding-right: 30px;
}

nav a:hover {
    color: red;
}

header.shrink nav a {
    font-size: 14px;
    padding-right: 30px;
}

.teamtxt-container {
    padding: 20px;
    font-size: larger;
    width: 40%;
}

.teampic-container1 {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 10px;
}

.teampic-container2 {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 10px;
}

.teampic-container3 {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 10px;
}

.teampic-container4 {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 10px;
}

caption {
    color: #DD0303;
}

#flexcontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


@media (max-width: 900px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
  
    .picture-container img {
        width: 90%;
    }
  }
  
  footer{
    align-items: center;
    color:gray;
    padding-bottom: 30px;
    padding-top: 30px;
  }